.article_list{
    margin: 10px;
    border-style: solid;
    border-width: 0.5px;
}

.section_list_head {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: solid; */
}