table {
    margin: 20px;
    width: 100%;
}

table li {
    list-style: none;
}

table a {
    text-decoration: none;
    color: inherit;
}

table a:hover {
    text-decoration: underline;
}

table tr:hover {
    background-color: #BEBEBE;
}

th {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 10px;
}

td {
    border-bottom: 1px solid #ddd;
}