<h2>Edit Section:</h2>

<form action="/sections/$section.getId()/edit" method="post">

    <label for="Title">Title: </label>
    <input type="text" name="title" id="title" required="true" value="$section.getTitle()">

    <input type="submit" value="Update Section" class="button"/>

</form>




