<div class="content">

    <h2>Create Section:</h2>

    <form action="/sections" method="post">

        <div class="form_label">
            <label for="title">Title: </label>
        </div>
        <input type="text" name="title" id="title" required="true">

        <input type="submit" value="Create Section" class="button"/>

    </form>

</div>