<div>
<h2>$article.getTitle()</h2>

<img src="$article.getImageLink()" class="center">

<h5>$article.getLastUpdated()</h5>

<p>$article.getTextContent()</p>



#if($section.getTitle() != "")
    <h5>by $article.getAuthor().getName()</h5>
    <a href="/sections/$section.getId()" class="link"> Back to Sections</a>
#end
</div>