<div class="dropdown">
    <button class="drop">Manage site</button>
    <div class="dropdown-content">
        <a href="/articles">Manage Articles</a>
        <a href="/sections">Manage Sections</a>
        <a href="/authors">Manage Authors</a>
    </div>
</div>
