<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/buttons.css">
        <link rel="stylesheet" href="/backend/backend.css">
        <link rel="stylesheet" href="/backend/create_edit_article.css">
        <link rel="stylesheet" href="/backend/confirmation_views.css">

        <title>My Blog</title>

    </head>

    <header>
        <nav>
            <h1>Blog</h1>
            #parse ( $section_nav )
            #parse ( $admin_nav )
        </nav>

    </header>



    <body>
        <main class="container">
            #parse( $template )
        </main>
    </body>

</html>