<h2>Edit Author:</h2>

<form action="/authors/$author.getId()/edit" method="post">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required="true" value="$author.getName()">

    <input type="submit" value="Update Author" class="button"/>

</form>




