<form action="/authors" method="post">

    <label for="title">Title: </label>
    <input type="text" name="title" id="title" required="true">
    <label for="name">Text: </label>
    <input type="text" name="name" id="name" required="true">

    <input type="submit" value="Save" class="button"/>

</form>

